body{

    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family:'Arial Narrow Bold', sans-serif;
    background-color: #94ceeb;
}

.admit{
 width: 320px;
height: 530px;
background: rgba(202, 240, 248, 1);
color: #fff;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 40px 30px;
border-radius: 5%;
color: #03045e;   
}

.admit h1{

    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 18px;
}

.admit p,select{
    margin: 0;
    padding-top:12px ;
    font-weight: bold;
}


.admit input{

    width: 100%;
    margin-bottom: 20px ;
}

.admit input[type="text"] ,input[type="date"],select
{
  border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color: #fdfeff;
font-size: 16px;
}

.admit input[type="submit"]
{

border: none;
outline: none;
height: 40px;
font-size: 18px;
border-radius: 20px;
color: #fff;
background: #1c8adb;
}

.admit::placeholder
{

    color: #fdfeff;
}

.admit input[type="submit"]:hover
{

    cursor: pointer;
    background: #39dc79;
    color: #000;
}
.admit a{

    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.admit select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color:#94ceeb ;
}

