<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>

<div id="mySidenav" class="sidenav">
  <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
  <a href="{{url_for('administrator_mainpage')}}" class="previous" style=" color: white; margin-top:40px;">&laquo; Back</a>
  <a href="{{url_for('delete_frontdesk_op')}}" style="margin-top: 20px;">Delete Frontdesk operator</a>
  <a href="{{url_for('delete_dataentry_op')}}">Delete DataEntry operator</a>
  <a href="{{url_for('delete_doctor')}}">Delete Doctor</a>
</div>

<div style="background-color: #0077b6;">
  <br>
  <h1 style="color: white; font-size: 30px;">Hospital Management System</h1>
</div>

<div class="Deletefrontdeskop">
  {% if status %}
    <p class="status" style="font-size: 11px; color: green; margin-top:-10%">{{ status }}</p>
  {% endif %}
  {% if error %}
    <p class="error" style="font-size: 11px; color: red; margin-top:-10%">{{ error }}</p>
  {% endif %}
  <form action="{{ url_for('remove_frontdesk_op') }}" method="POST">
    <h1 style="padding-top:10px">Delete FrontDeskOperator</h1>
    <p>FrontDeskoperatorid
            <input type="text" required name="FrontDeskoperatorid" id="id" placeholder="Enter id" style="color:#0077b6"></p>
    <input type="submit" name="submit" value="Delete">
  </form>
</div>
</html>
