<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>

<div id="mySidenav" class="sidenav">
	<!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
	<a href="{{ url_for('patient_registration')}}" style="margin-top: 100px;">Register a Patient</a>
	<a href="{{ url_for('book_appointment')}}">Book an Appointment</a>
	<a href="{{ url_for('test_schedule')}}">Schedule a Test</a>
	<a href="{{ url_for('treatment')}}">Schedule Treatment</a>
	<a href="{{ url_for('admit')}}">Admit a patient</a>
	<a href="{{ url_for('Discharge')}}">Discharge a patient</a>
	<a href="{{ url_for('show_all_patients')}}">Edit patient details</a>
	<a href="{{ url_for('frontdesk')}}">Logout</a>
</div>

<div style="background-color: #0077b6;">
	<br>
	<h1 style="color: white; font-size: 30px;">Hospital Management System</h1>
</div>

<div class="frontdesk_main">
	<h2>Welcome User!</h2>
	<!-- <p>This sidenav is always shown.</p> -->
</div>

<!-- <span class="openbtn" onclick="openNav()">&#9776;</span> -->

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
</html>