<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System | Test Scheduling </title>
    <script>
        function updateSlots() {
            var date = document.getElementById('date').value;
            var SlotsDropdown = document.getElementById('timeSlot');
            SlotsDropdown.options.length = 0; // Clear the options
    
            // Make a request to the server to get the list of doctors for the selected specialisation
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/get_slots/'+ date, true);
            xhr.onload = function() {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    var slots = response.slots;
                    for (var i = 0; i < slots.length; i++) {
                        var option = document.createElement('option');
                        option.text = slots[i];
                        option.value = slots[i];
                        SlotsDropdown.add(option);
                    }
            }
        };
    xhr.send();
}
</script>
</head>

<div id="mySidenav" class="sidenav">
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
    <a href="{{ url_for('patient_registration')}}" style="margin-top: 100px;">Register a Patient</a>
    <a href="{{ url_for('book_appointment')}}">Book an Appointment</a>
    <a href="{{ url_for('test_schedule')}}">Schedule a Test</a>
    <a href="{{ url_for('treatment')}}">Schedule Treatment</a>
    <a href="{{ url_for('admit')}}">Admit a patient</a>
    <a href="{{ url_for('Discharge')}}">Discharge a patient</a>
    <a href="{{ url_for('show_all_patients')}}">Edit patient details</a>
    <a href="{{ url_for('frontdesk')}}">Logout</a>
</div>

<div style="background-color: #0077b6;">
    <br>
    <h1 style="color: white; font-size: 30px;">Hospital Management System</h1>
</div>

<div class="Test-Scheduling">
    {% if status %}
    <p class="status" style="font-size: 11px; color: green">{{ status }}</p>
    {% endif %}
    {% if error %}
    <p class="error" style="font-size: 11px; color: red">{{ error }}</p>
    {% endif %}
    <h1 style="padding-top:10px">Test-Scheduling</h1>
    <form action="{{ url_for('test_insert') }}" method="post">
        <p>TestID
            <input type="text" required name="Testid" placeholder="Enter Testid" style="color:#0077b6"></p>
        <p>Choose Date </p>
            <input type="date" required name="date" id="date" onchange="updateSlots()">
        <p>Choose TimeSlot
            <select id="timeSlot" required name="timeSlot">
                  <option value="">Select Time Slot</option>
                  <option value="9-12">9-12</option>
                  <option value="2-5">2-5</option>
                  <option value="6-10">6-10</option>
            </select></p>
                
                <input type="submit" name="submit" value="Schedule">
            </form>
          </div>
        </html>