{% extends 'data_entry.html' %}

{% block test_details %}
<body>
   
    <div class="Patients-TestDetails">
    {% if error %}
    <p class="error" style="font-size: 16px; color: red">{{ error }}</p>
    {% endif %}
    {% if success %}
    <p class="success" style="font-size: 16px; color: green">{{ success }}</p>

     {% endif %} 
        <h1>Enter Patient Test Details</h1>
        <form method="POST" action="#" enctype="multipart/form-data">

            <label>Patient Id:</label>
            <input type="text" name="patient_id" style="color:#0077b6">
            <br><br>

            <label>Test Id:</label>
            <input type="text" name="test_id"  style="color:#0077b6">
            <br><br>

            <label>Test Result:</label>
            <input type="text" name="test_result" style="color:#0077b6"><br><br>

            <input type="file" name="test_report" id="test_report">
            <br><br>
         



            <input type="submit" name="submit" value="Save">
        </form>
         
    <script>
        setTimeout(function() {
            var error = document.querySelector('.error');
            var success = document.querySelector('.success');
            if (error) {
            error.remove();
           }
           if (success) {
            success.remove();
          }
        }, 2000); // 2 seconds
    </script>











    </div>
</body>

{% endblock %}